/.gradle/
/build/
/.coursecreator/
/01_Debugging/task/build/
/.idea/caches/deviceStreaming.xml
/.idea/frameworkLessonHistoryCC/storage.storageData
/.idea/frameworkLessonHistoryCC/storage.storageRecordIndex
/.idea/libraries/Gradle__androidx_activity_activity_1_8_0_aar.xml
/.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_4_1_aar.xml
/.idea/libraries/Gradle__androidx_annotation_annotation_jvm_1_8_1.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_7_0_aar.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_7_0_aar.xml
/.idea/libraries/Gradle__androidx_arch_core_core_common_2_2_0.xml
/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_2_0_aar.xml
/.idea/libraries/Gradle__androidx_arch_core_core_testing_2_2_0_aar.xml
/.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_collection_collection_1_1_0.xml
/.idea/libraries/Gradle__androidx_collection_collection_jvm_1_4_2.xml
/.idea/libraries/Gradle__androidx_concurrent_concurrent_futures_1_1_0.xml
/.idea/libraries/Gradle__androidx_concurrent_concurrent_futures_ktx_1_1_0.xml
/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_0_1_aar.xml
/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_2_0_1.xml
/.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_core_core_1_15_0_aar.xml
/.idea/libraries/Gradle__androidx_core_core_ktx_1_15_0_aar.xml
/.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_customview_customview_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_1_1_aar.xml
/.idea/libraries/Gradle__androidx_dynamicanimation_dynamicanimation_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_fragment_fragment_1_5_4_aar.xml
/.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_6_2.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_6_2_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_6_2_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_6_2_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_6_2_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_2_6_2_aar.xml
/.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_resourceinspection_resourceinspection_annotation_1_0_1.xml
/.idea/libraries/Gradle__androidx_savedstate_savedstate_1_2_1_aar.xml
/.idea/libraries/Gradle__androidx_test_core_1_6_1_aar.xml
/.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_6_1_aar.xml
/.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_6_1_aar.xml
/.idea/libraries/Gradle__androidx_test_ext_junit_1_2_1_aar.xml
/.idea/libraries/Gradle__androidx_test_monitor_1_6_1_aar.xml
/.idea/libraries/Gradle__androidx_test_monitor_1_7_1_aar.xml
/.idea/libraries/Gradle__androidx_test_monitor_1_7_2_aar.xml
/.idea/libraries/Gradle__androidx_test_rules_1_6_1_aar.xml
/.idea/libraries/Gradle__androidx_test_runner_1_6_1_aar.xml
/.idea/libraries/Gradle__androidx_test_services_storage_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_tracing_tracing_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_transition_transition_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_1_aar.xml
/.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
/.idea/libraries/Gradle__com_almworks_sqlite4java_sqlite4java_1_0_392.xml
/.idea/libraries/Gradle__com_google_android_material_material_1_12_0_aar.xml
/.idea/libraries/Gradle__com_google_auto_value_auto_value_annotations_1_10_1.xml
/.idea/libraries/Gradle__com_google_auto_value_auto_value_annotations_1_11_0.xml
/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_3_0_2.xml
/.idea/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_15_0.xml
/.idea/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_18_0.xml
/.idea/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_28_0.xml
/.idea/libraries/Gradle__com_google_guava_failureaccess_1_0_1.xml
/.idea/libraries/Gradle__com_google_guava_failureaccess_1_0_2.xml
/.idea/libraries/Gradle__com_google_guava_guava_31_1_jre.xml
/.idea/libraries/Gradle__com_google_guava_guava_33_3_1_jre.xml
/.idea/libraries/Gradle__com_google_guava_listenablefuture_1_0.xml
/.idea/libraries/Gradle__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
/.idea/libraries/Gradle__com_google_j2objc_j2objc_annotations_1_3.xml
/.idea/libraries/Gradle__com_google_j2objc_j2objc_annotations_3_0_0.xml
/.idea/libraries/Gradle__com_ibm_icu_icu4j_72_1.xml
/.idea/libraries/Gradle__com_ibm_icu_icu4j_75_1.xml
/.idea/libraries/Gradle__javax_annotation_javax_annotation_api_1_3_2.xml
/.idea/libraries/Gradle__javax_inject_javax_inject_1.xml
/.idea/libraries/Gradle__junit_junit_4_13_2.xml
/.idea/libraries/Gradle__org_bouncycastle_bcprov_jdk18on_1_72.xml
/.idea/libraries/Gradle__org_bouncycastle_bcprov_jdk18on_1_78_1.xml
/.idea/libraries/Gradle__org_checkerframework_checker_qual_3_12_0.xml
/.idea/libraries/Gradle__org_checkerframework_checker_qual_3_43_0.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3.xml
/.idea/libraries/Gradle__org_jetbrains_annotations_13_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_9_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_9_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_9_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_9_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_android_1_6_4.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_jvm_1_6_4.xml
/.idea/libraries/Gradle__org_mockito_mockito_core_2_25_0.xml
/.idea/libraries/Gradle__org_objenesis_objenesis_2_6.xml
/.idea/libraries/Gradle__org_ow2_asm_asm_9_5.xml
/.idea/libraries/Gradle__org_ow2_asm_asm_9_7_1.xml
/.idea/libraries/Gradle__org_ow2_asm_asm_analysis_9_5.xml
/.idea/libraries/Gradle__org_ow2_asm_asm_analysis_9_7_1.xml
/.idea/libraries/Gradle__org_ow2_asm_asm_commons_9_5.xml
/.idea/libraries/Gradle__org_ow2_asm_asm_commons_9_7_1.xml
/.idea/libraries/Gradle__org_ow2_asm_asm_tree_9_5.xml
/.idea/libraries/Gradle__org_ow2_asm_asm_tree_9_7_1.xml
/.idea/libraries/Gradle__org_ow2_asm_asm_util_9_5.xml
/.idea/libraries/Gradle__org_ow2_asm_asm_util_9_7_1.xml
/.idea/libraries/Gradle__org_robolectric_annotations_4_10.xml
/.idea/libraries/Gradle__org_robolectric_annotations_4_14.xml
/.idea/libraries/Gradle__org_robolectric_junit_4_10.xml
/.idea/libraries/Gradle__org_robolectric_junit_4_14.xml
/.idea/libraries/Gradle__org_robolectric_nativeruntime_4_10.xml
/.idea/libraries/Gradle__org_robolectric_nativeruntime_4_14.xml
/.idea/libraries/Gradle__org_robolectric_pluginapi_4_10.xml
/.idea/libraries/Gradle__org_robolectric_pluginapi_4_14.xml
/.idea/libraries/Gradle__org_robolectric_plugins_maven_dependency_resolver_4_10.xml
/.idea/libraries/Gradle__org_robolectric_plugins_maven_dependency_resolver_4_14.xml
/.idea/libraries/Gradle__org_robolectric_resources_4_10.xml
/.idea/libraries/Gradle__org_robolectric_resources_4_14.xml
/.idea/libraries/Gradle__org_robolectric_robolectric_4_10.xml
/.idea/libraries/Gradle__org_robolectric_robolectric_4_14.xml
/.idea/libraries/Gradle__org_robolectric_sandbox_4_10.xml
/.idea/libraries/Gradle__org_robolectric_sandbox_4_14.xml
/.idea/libraries/Gradle__org_robolectric_shadowapi_4_10.xml
/.idea/libraries/Gradle__org_robolectric_shadowapi_4_14.xml
/.idea/libraries/Gradle__org_robolectric_shadows_framework_4_10.xml
/.idea/libraries/Gradle__org_robolectric_shadows_framework_4_14.xml
/.idea/libraries/Gradle__org_robolectric_utils_4_10.xml
/.idea/libraries/Gradle__org_robolectric_utils_4_14.xml
/.idea/libraries/Gradle__org_robolectric_utils_reflector_4_10.xml
/.idea/libraries/Gradle__org_robolectric_utils_reflector_4_14.xml
/.idea/modules/01_Debugging/task/Prueba_Técnica_Android_Juniors.01_Debugging-task.iml
/.idea/modules/02_Implementacion/task/Prueba_Técnica_Android_Juniors.02_Implementacion-task.androidTest.iml
/.idea/modules/02_Implementacion/task/Prueba_Técnica_Android_Juniors.02_Implementacion-task.iml
/.idea/modules/02_Implementacion/task/Prueba_Técnica_Android_Juniors.02_Implementacion-task.main.iml
/.idea/modules/02_Implementacion/task/Prueba_Técnica_Android_Juniors.02_Implementacion-task.unitTest.iml
/.idea/modules/03_Preguntas/task/Prueba_Técnica_Android_Juniors.03_Preguntas-task.androidTest.iml
/.idea/modules/03_Preguntas/task/Prueba_Técnica_Android_Juniors.03_Preguntas-task.iml
/.idea/modules/Introducción/task/Prueba_Técnica_Android_Juniors.Introducción-task.androidTest.iml
/.idea/modules/Introducción/task/Prueba_Técnica_Android_Juniors.Introducción-task.unitTest.iml
/.idea/modules/util/Prueba_Técnica_Android_Juniors.util.iml
/.idea/modules/Prueba_Técnica_Android_Juniors.iml
/.idea/.author_contents_storage_db
/.idea/.author_contents_storage_db-shm
/.idea/.author_contents_storage_db-wal
/.idea/.gitignore
/.idea/.name
/.idea/AndroidProjectSystem.xml
/.idea/androidTestResultsUserPreferences.xml
/.idea/codeStyles
/.idea/compiler.xml
/.idea/dbnavigator.xml
/.idea/deploymentTargetSelector.xml
/.idea/externalDependencies.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
